<!DOCTYPE html>
<html>
    <head>
        <title>Result</title>
    </head>

    <body>
        <h1>Shipping Cost</h1>
        <p>To send that as a "<%= category %>" of <%= weight %> ounces will cost: $<%= cost %></p>
    </body>
</html>